<%- include('./style'); %>
<nav
  class="w-75 border border-1 container-form-step_one"
  id="step_one"
  style="background: #fff; box-shadow: 2px 2px 7px #ddd"
>
  <span class="title">Nhập thông tin nhà trọ</span>
  <form class="p-4 pb-2" id="form__step__one">
    <div class="mb-1">
      <label class="form-label">Tên nhà trọ</label>
      <input
        type="text"
        class="form-control shadow-none form-control-sm"
        id="motel_name"
        name="motel_name"
      />
    </div>
    <div class="mb-1">
      <label class="form-label">Địa chỉ</label>
      <input
        type="text"
        class="form-control shadow-none form-control-sm"
        id="address_basic"
        name="address_basic"
      />
    </div>
    <div class="row mb-1">
      <div class="col-md-5">
        <label class="form-label">Lat</label>
        <input
          type="text"
          class="form-control shadow-none form-control-sm"
          id="lat"
          name="lat"
        />
      </div>
      <div class="col-md-2">
        <label class="form-label"></label>
        <button
          id="myBtn"
          type="button"
          class="btn btn-outline-dark hidden form-control form-control-sm"
        >
          Xem map
        </button>
        <!-- Modal Cho Website -->
        <div id="myModal" class="modal">
          <div class="modal-content">
            <div id="map"></div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <label class="form-label">Lng</label>
        <input
          type="text"
          class="form-control shadow-none form-control-sm"
          id="lng"
          name="lng"
        />
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-md-5">
        <label class="form-label">Giá tiền</label>
        <input
          type="text"
          class="form-control shadow-none form-control-sm"
          id="price__basic"
          name="price__basic"
        />
      </div>
      <div class="col-md-5 offset-md-2">
        <label class="form-label">Số điện thoại</label>
        <input
          type="text"
          class="form-control shadow-none form-control-sm"
          id="phone_number"
          name="phone_number"
        />
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-md-5">
        <label class="form-label">Hình thức thanh toán</label>
        <select
          class="form-select shadow-none form-select-sm"
          aria-label=".form-select-sm example"
          id="list_payment"
          name="type_payment_id"
        >
          <option value="" checked>------</option>
        </select>
      </div>
      <div class="col-md-5 offset-md-2">
        <label class="form-label">Loại nhà trọ</label>
        <select
          class="form-select shadow-none form-select-sm"
          aria-label=".form-select-sm example"
          id="list_motel"
          name="type_motel_id"
        >
          <option value="" checked>------</option>
        </select>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-md-3">
        <label class="form-label">Tỉnh</label>
        <select
          class="form-select shadow-none form-select-sm"
          aria-label=".form-select-sm example"
          id="list_province"
          name="province_id"
        >
          <option value="" checked>------</option>
        </select>
      </div>
      <div class="col-md-3 offset-md-1" id="container_city">
        <label class="form-label">Thành Phố</label>
        <select
          class="form-select shadow-none form-select-sm"
          aria-label=".form-select-sm example"
          id="list_city"
          name="city_id"
        >
          <option value="">------</option>
        </select>
      </div>
      <div class="col-md-3 offset-md-1" id="container_ward">
        <label class="form-label">Thị xã</label>
        <select
          class="form-select shadow-none form-select-sm"
          aria-label=".form-select-sm example"
          id="list_ward"
          name="ward_id"
        >
          <option value="">------</option>
        </select>
      </div>
      <label class="form-label mt-2">Hashtag</label>
      <div class="form-floating">
        <textarea
          class="form-control shadow-none p-2"
          placeholder="Leave a comment here"
          id="hashtag"
          name="hashtag"
          style="height: 100px"
        ></textarea>
      </div>
      <label class="form-label mt-2">Mô tả nhà trọ</label>
      <div class="form-floating">
        <textarea
          class="form-control shadow-none p-2"
          placeholder="Leave a comment here"
          id="description"
          name="description"
          style="height: 100px"
        ></textarea>
      </div>
    </div>
    <div class="d-flex justify-content-around mt-4">
      <button type="reset" class="btn btn-outline-danger" id="btn_reset">
        Xóa bỏ
      </button>
      <button type="button" class="btn btn-outline-success" id="btn_submit">
        Hoàn tất
      </button>
    </div>
  </form>
</nav>

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
  crossorigin="anonymous"
/>
<%- include('./javas'); %>
