<%- include("./style.ejs") %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2" id="ownerMenu">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img src="/images/logoMap.png" alt="Logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDarkDropdown"
      aria-controls="navbarNavDarkDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav d-flex flex-grow-1">
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="http://localhost:3000/owner/list-motel"
            id="navbarDarkDropdownMenuLink"
            role="button"
          >
            Danh sách nhà trọ
          </a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDarkDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Quản lý khách hàng
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="navbarDarkDropdownMenuLink"
          >
            <li>
              <a
                class="dropdown-item"
                href="http://localhost:3000/owner/management/tenants"
              >
                Danh sách khách hàng</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="http://localhost:3000/owner/add-customer"
                >Thêm khách hàng</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDarkDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Thao tác nhà trọ
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="navbarDarkDropdownMenuLink"
          >
            <li>
              <a
                class="dropdown-item"
                href="http://localhost:3000/owner/add-motel/ByUI"
                >Thêm nhà trọ cơ bản</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="http://localhost:3000/owner/add-motel"
                >Thêm nhà trọ bằng file excel</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="http://localhost:3000/owner/edit-motel"
                >Chỉnh sửa thông tin nhà trọ</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="http://localhost:3000/owner/delete-motel"
                >Xóa nhà trọ</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDarkDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Thao tác phòng trọ
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="navbarDarkDropdownMenuLink"
          >
            <li>
              <a
                class="dropdown-item"
                href="http://localhost:3000/owner/add-room/ByUI"
                >Thêm phòng trọ cơ bản</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="http://localhost:3000/owner/add-room"
                >Thêm phòng trọ bằng file excel</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="http://localhost:3000/owner/edit-room"
                >Chỉnh sửa thông tin phòng trọ</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="http://localhost:3000/owner/delete-room"
                >Xóa phòng trọ</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown flex-grow-1"></li>
        <li
          class="nav-item dropdown mx-5 px-3"
          style="background-color: rgba(70, 71, 71, 0.671)"
        >
          <a
            class="nav-link user_name"
            href="#"
            id="navbarDarkDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Lê Lâm Trường
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="navbarDarkDropdownMenuLink"
          >
            <li>
              <a
                class="dropdown-item"
                href="http://localhost:3000/owner/account/settings"
                >Cài đặt</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" id="logout">Đăng xuất</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<%- include('./javas.ejs') %>
