<script>
  if (!sessionStorage.getItem("TOKEN")) {
    const body = document.querySelector("body");
    body.innerHTML +=
      '<a href="/login" class="btn__login btn btn-primary">Đăng nhập</a>';
    document.getElementById("menu").classList.add("disabled");
  } else {
    document.getElementById("menu").classList.remove("disabled");
    const role = JSON.parse(sessionStorage.getItem("role"));
    if (role != "customer") {
      location.href = "/not-found";
    }
  }
  const menuResultContainer = document.getElementById(
    "menu__result__container"
  );
  const btnChooseCurrentLocation = document.getElementById(
    "choose__CurrentLocation"
  );

  const btnChooseSchoolLocation = document.getElementById(
    "choose__SchoolLocation"
  );
  const result_mode = document.querySelector(
    ".menu__panel__container__tutorial"
  );
  const result__time = document.querySelector(
    ".menu__panel__tutorial__time--desc"
  );
  const instructionContainer = document.getElementById(
    "desc__instruction__road"
  );
  const resultTutorial = document.querySelector(
    ".menu__panel__container__tutorial"
  );
  const containerFilter = document.getElementById(
    "menu__filter__search__container"
  );
  const listFilter = containerFilter.querySelectorAll(
    ".menu__filter__search__item"
  );
  const searchInput = document.getElementById("search__input");
  const searchBtn = document.getElementById("icon__search__box--glass");
  const snakeBar = document.querySelector(".snake__bar");
  const selectVehicle = document.getElementById("select__vehicle");
  const listVehicle = selectVehicle.querySelectorAll("input[type=radio]");
  const btnDirect = document.getElementById("btn__direct");
  const btnInfoMotel = document.getElementById("btn__info__motel");
  const latLocation = document.getElementById("latLocation").innerHTML;
  const lngLocation = document.getElementById("lngLocation").innerHTML;

  const access_key = "82388984ac71fb9b9d05509e99a42fad";
  let location4D = {};
  let locationGoogle = {};
  const listDirections = [];
  let listMaker = [];

  const handleMenuResult = (isActive) => {
    const checkMenuResult = document.getElementById("checkMenuResult");
    checkMenuResult.checked = isActive;
  };

  const setSnakeBar = (value, type) => {
    snakeBar.classList.add(`showSnake__bar__${type}`);
    snakeBar.querySelector(".snake__value").innerHTML = value;
    setTimeout(() => {
      snakeBar.classList.remove(`showSnake__bar__${type}`);
    }, 1000);
  };

  const setLocationDirectForm = (location, locationAPI) => {
    const destination = document.getElementById("menu__pannel__location__to");
    let options = {
      method: "GET",
      headers: {
        Authorization: "Bearer " + JSON.parse(sessionStorage.getItem("TOKEN")),
        "Content-Type": "application/json",
        // 'Content-Type': 'application/x-www-form-urlencoded',
      },
    };
    fetch(
      `http://localhost:8888/motel/detail-by-location?lat=${locationAPI.lat}&lng=${locationAPI.lng}`,
      options
    )
      .then((response) => response.json())
      .then((data) => {
        // console.log(data);
        const arrayResult = data.result[0];
        const name = arrayResult.motel_name;
        destination.value = name;
      })
      .catch((error) => {
        console.log(error);
      });
  };

  function initMap() {
    window.navigator.geolocation.getCurrentPosition((pos) => {
      const currentLocation = {
        lat: pos.coords.latitude,
        lng: pos.coords.longitude,
      };
      let isSetDirectMap = 0;
      const schoolLocation = { lat: 12.26812, lng: 109.202376 };
      let startLocationForDirect = { ...schoolLocation };
      let options = {
        center: schoolLocation,
        zoom: 15,
        controls: true,
        geolocate: true,
      };

      if (latLocation !== "" && lngLocation !== "") {
        options = {
          center: { lat: latLocation, lng: lngLocation },
          zoom: 15,
          controls: true,
          geolocate: true,
        };
      }
      let map = new map4d.Map(document.getElementById("map"), options);

      searchInput.addEventListener("keypress", (e) => {
        let valueSearch = searchInput.value;
        if (e.which === 13) {
          let isFilter = false;
          for (let i = 0; i < listFilter.length; i++) {
            const inputCheck = listFilter[i].querySelector(
              "input[type='checkbox']"
            );
            if (inputCheck.checked) {
              isFilter = true;
            }
          }
          if (isFilter) {
            const data = searchWithFilter(valueSearch);
            const url = `http://localhost:8888/motel/search-near?text=${data.text}&lat=${schoolLocation.lat}&lng=${schoolLocation.lng}&radius=${data.radius}&price_gte=${data.price_gte}&price_lte=${data.price_lte}`;
            searchMap(url);
          } else {
            const url = `http://localhost:8888/motel/text-search?text=${valueSearch}`;
            searchMap(url);
          }
        }
      });
      searchBtn.addEventListener("click", () => {
        let valueSearch = document.getElementById("search__input").value;
        if (valueSearch.trim() === "") {
          setSnakeBar("Vui lòng nhập giá trị", "error");
        } else {
          let isFilter = false;
          for (let i = 0; i < listFilter.length; i++) {
            const inputCheck = listFilter[i].querySelector(
              "input[type='checkbox']"
            );
            if (inputCheck.checked) {
              isFilter = true;
            }
          }
          if (isFilter) {
            const data = searchWithFilter(valueSearch);
            const url = `http://localhost:8888/motel/search-near?text=${data.text}&lat=12.26812&lng=109.202376&radius=${data.radius}&price_gte=${data.price_gte}&price_lte=${data.price_lte}`;
            searchMap(url);
          } else {
            const url = `http://localhost:8888/motel/text-search?text=${valueSearch}`;
            searchMap(url);
          }
        }
      });
      btnChooseSchoolLocation.addEventListener("click", () => {
        document.querySelector(
          ".menu__panel__container__content__body--input"
        ).innerHTML = "Trường Đại học Nha Trang";
        startLocationForDirect = { ...schoolLocation };
      });
      btnChooseCurrentLocation.addEventListener("click", () => {
        document.querySelector(
          ".menu__panel__container__content__body--input"
        ).innerHTML = "Vị trí của bạn";
        startLocationForDirect = { ...currentLocation };
      });
      const searchMap = (url) => {
        let options = {
          method: "GET",
          headers: {
            Authorization:
              "Bearer " + JSON.parse(sessionStorage.getItem("TOKEN")),
            "Content-Type": "application/json",
            // 'Content-Type': 'application/x-www-form-urlencoded',
          },
        };
        fetch(url, options)
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            if (data.result.length === 0) {
              setSnakeBar("Không có giá trị cần tìm", "error");
            } else {
              const arrayResult = data.result;
              if (listMaker.length > 0) {
                for (let i = 0; i < listMaker.length; i++) {
                  listMaker[i].setMap(null);
                }
                listMaker = [];
                console.log(listMaker);
              }
              for (let i = 0; i < arrayResult.length; i++) {
                const value = {
                  name: arrayResult[i].motel_name,
                  address: arrayResult[i].address_basic,
                  location: {
                    lng: arrayResult[i].lng,
                    lat: arrayResult[i].lat,
                  },
                };
                markerOfSearch.push(value);
                addMarker(value);
              }
            }
          })
          .catch((error) => {
            console.log(error);
          });
      };

      const detailByLocation = (location) => {
        let options = {
          method: "GET",
          headers: {
            Authorization:
              "Bearer " + JSON.parse(sessionStorage.getItem("TOKEN")),
            "Content-Type": "application/json",
            // 'Content-Type': 'application/x-www-form-urlencoded',
          },
        };
        fetch(
          `http://localhost:8888/motel/detail-by-location?lat=${location.lat}&lng=${location.lng}`,
          options
        )
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            const result = data.result[0];
            console.log(result);
            const img = menuResultContainer.querySelector("img");
            const name = menuResultContainer.querySelector("#result__name");
            const address =
              menuResultContainer.querySelector("#result__address");
            const numberPhone = menuResultContainer.querySelector(
              "#result__numberPhone"
            );
            const motel_id = document.getElementById("motel_id");
            motel_id.innerHTML = result.motel_id;
            img.src = `https://maps.gstatic.com/tactile/pane/default_geocode-1x.png`;
            name.innerHTML = result.motel_name;
            address.innerHTML = result.address_basic;
            numberPhone.innerHTML = result.phone_number;
          })
          .catch((error) => {
            console.log(error);
          });
      };
      btnInfoMotel.addEventListener("click", () => {
        const motel_id = document.getElementById("motel_id").innerHTML;
        location.href = `http://localhost:3000/motel/${motel_id}`;
      });
      const addMarker = (data) => {
        let marker = new map4d.Marker({
          // title: data.name,
          // snippet: data.address,
          position: data.location,
          // icon: 'http://img.icons8.com/nolan/1x/marker.png',
          anchor: [0.5, 0.5],
          EventOptions: true,
        });
        marker.setMap(map);
        listMaker.push(marker);
        map.addListener(
          "click",
          (args) => {
            // console.log(args);
            const locationAPI = args.marker.properties["_position"];
            const value = { lat: locationAPI.lat, lng: locationAPI.lng };
            locationGoogle = { ...value };
            location4D = { ...args.location };
            detailByLocation(locationGoogle);
            handleMenuResult(true);
            setLocationDirectForm(location4D, locationGoogle);
          },
          { marker: true }
        );
      };
      if (latLocation !== "" && lngLocation !== "") {
        const value = {
          name: "",
          address: "",
          location: {
            lng: lngLocation,
            lat: latLocation,
          },
        };
        addMarker(value);
      }
      const drawLine = async (startLocationForDirect, arrayStep) => {
        if (listDirections.length > 0) {
          listDirections.forEach((item) => {
            item.setMap(null);
            listDirections.shift();
          });
        }
        let directions = new map4d.DirectionsRenderer({
          routes: [
            [
              {
                lat: startLocationForDirect.lat,
                lng: startLocationForDirect.lng,
              },
              ...arrayStep,
            ],
          ],
          originMarkerOptions: {
            position: {
              lat: startLocationForDirect.lat,
              lng: startLocationForDirect.lng,
            },
            title: "Start",
            draggable: true,
            visible: true,
          },
          destinationMarkerOptions: {
            position: { lat: location4D.lat, lng: location4D.lng },
            title: "End",
            visible: true,
            draggable: true,
            userInteractionEnabled: false,
          },

          activeOutlineWidth: 0,
          inactiveOutlineWidth: 0.4,
          inactiveOutlineColor: "#FF00FF",
        });

        directions.setMap(map);
        listDirections.push(directions);
      };

      const findTheWay = () => {
        let options = {
          method: "GET",
          headers: {
            Authorization:
              "Bearer " + JSON.parse(sessionStorage.getItem("TOKEN")),
            "Content-Type": "application/json",
            // 'Content-Type': 'application/x-www-form-urlencoded',
          },
        };
        const weighting = 2; // đường đi cân bằng
        let mode = "";
        for (let i = 0; i < listVehicle.length; i++) {
          if (listVehicle[i].checked) {
            mode = listVehicle[i].value;
          }
        }
        fetch(
          `https://api.map4d.vn/sdk/route?key=${access_key}&origin=${startLocationForDirect.lat},${startLocationForDirect.lng}&destination=${location4D.lat},${location4D.lng}&mode=${mode}&language=vi&weighting=${weighting}`,
          options
        )
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            // console.log(data);
            const path = [...data.result.routes[0].legs[0].steps];
            const distance = data.result.routes[0].distance;
            const duration = data.result.routes[0].duration;
            const arrayStep = [];
            let instruction = "";
            for (let i = 0; i < path.length; i++) {
              arrayStep.push(
                {
                  lat: path[i].startLocation.lat,
                  lng: path[i].startLocation.lng,
                },
                { lat: path[i].endLocation.lat, lng: path[i].endLocation.lng }
              );
              instruction += path[i].htmlInstructions + ". ";
            }
            drawLine(startLocationForDirect, arrayStep);
            const img_mode = result_mode.querySelector("img");
            switch (mode) {
              case "car":
                img_mode.src = "/images/select__car.png";
                break;
              case "motorcycle":
                img_mode.src = "/images/select__moto.png";
                break;
              case "bike":
                img_mode.src = "/images/select__bike.png";
                break;
              case "foot":
                img_mode.src = "/images/select__foot.png";
                break;
              default:
                img_mode.src = "/images/select__car.png";
                break;
            }
            resultTutorial.classList.add("show");
            instructionContainer.innerHTML = instruction;
            result__time.querySelector(".tutorial__time").innerHTML =
              duration.text;
            result__time.querySelector(".tutorial__distance").innerHTML =
              distance.text;
          })
          .catch((error) => {
            console.log(error);
          });
      };

      btnDirect.addEventListener("click", () => {
        findTheWay();
      });

      const searchWithFilter = (valueSearch) => {
        const data = {
          lat: "",
          lng: "",
          text: valueSearch,
          radius: "",
          price_gte: "",
          price_lte: "",
        };
        for (let i = 0; i < listFilter.length; i++) {
          const checkbox = listFilter[i].querySelector(
            "input[type='checkbox']"
          );
          if (checkbox.checked) {
            const id = checkbox.id;
            if (id === "radius") {
              const value = document.getElementById("value__radius").value;
              data.radius = value;
            }
            if (id === "price") {
              const price_gte = document.getElementById("price_gte").value;
              const price_lte = document.getElementById("price_lte").value;
              data.price_gte = price_gte + "000000";
              data.price_lte = price_lte + "000000";
            }
          }
          if (checkbox.checked === false) {
            const id = checkbox.id;
            if (id === "radius") {
              data.radius = "";
            }
            if (id === "price") {
              data.price_gte = "";
              data.price_lte = "";
            }
          }
        }

        return data;
      };
    });
  }
</script>
