<script>
  const usernameContainer = document.getElementById("username");
  const user_id = JSON.parse(sessionStorage.getItem("user_id"));

  let userInfo = {};
  let valueSearch = "";
  let markerOfSearch = [];

  (() => {
    if (sessionStorage.getItem("TOKEN")) {
      let options = {
        method: "GET",
        headers: {
          Authorization:
            "Bearer " + JSON.parse(sessionStorage.getItem("TOKEN")),
          "Content-Type": "application/json",
          // 'Content-Type': 'application/x-www-form-urlencoded',
        },
      };

      fetch(`http://localhost:8888/user/info/${user_id}`, options)
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          console.log(data);
          userInfo = { ...data.result[0] };
          usernameContainer.innerHTML += `<div class="navbar__username">${userInfo.username}</div>`;
        })
        .catch((error) => {
          console.log(error);
        });
    }
  })();
  // const logout = () => {
  //   const btnLogoutMenu = document.getElementById("btn_logout_menu");
  //   btnLogoutMenu.addEventListener("click", () => {
  //     logoutAPI();
  //   });
  //   function logoutAPI() {
  //     let options = {
  //       method: "GET",
  //       headers: {
  //         Authorization:
  //           "Bearer " + JSON.parse(sessionStorage.getItem("TOKEN")),
  //         "Content-Type": "application/json",
  //         // 'Content-Type': 'application/x-www-form-urlencoded',
  //       },
  //     };

  //     fetch(`http://localhost:8888/user/logout`, options)
  //       .then((response) => {
  //         return response.json();
  //       })
  //       .then((data) => {
  //         console.log(data);
  //       })
  //       .catch((error) => {
  //         console.log(error);
  //       });
  //   }
  // };
  // logout();

  function logout() {
    const btnLogout = document.getElementById("btn_logout_menu");
    btnLogout.addEventListener("click", () => {
      sessionStorage.removeItem("user_id");
      sessionStorage.removeItem("TOKEN");
      sessionStorage.removeItem("role");
      setTimeout(() => {
        location.href = "http://localhost:3000/login";
      }, 1000);
    });
  }
  logout();
</script>
